<style>

#main_slider .slider .hero .booknow {     
    background-color: #50c060 !important;
    padding: 5px 10px;
    font-size: 20px;
    text-shadow: none;
    color: #FFFFFF;
    transition: all .3s ease-out;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}
.BANNER_CAPTION {
    john doe: ;
    color: transparent;
}


header#header ul.header-rt li {
    width: 31% !important;
    float: left;
    list-style: none;
    padding: 20px 15px 10px;
    text-align: center;
    margin: 5px;
    transition: all 0.2s ease-out;
}




.text-muted {
    color: black !important;
}

#location .location .last .btn {
    padding: 10px 40px;
    margin-top: 10px;
    background: #50c060;
    line-height: 1.31;
    font-size: 16px;
    transition: all ease-in-out 0.3s;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #f1f1f1;
}

#footer .footer {
    padding: 40px 0;
    background-color: black;
    color: #e6e6e6;
}




#navigation .navbar-fixed-top {
    position: static;
    margin-bottom: 0;
    background: black !important;
    border-bottom: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.14);
}
.single-service.service__two {
    height: 302px !important;
}






#navigation .navbar.fixed {
    background: black !important;
}

#navigation .rmm.style ul li>a:not(:only-child):after {
    -webkit-font-smoothing: antialiased;
    position: relative;
    display: none;
    top: 1px;
    left: 5px;
    font-size: 14px;
    content: "\f107";
    font: normal normal normal 14px FontAwesome;
}





.abtimg-head::before {
    content: "Gallery";
   display:none !important;
}


#gallery .slick-dots li.slick-active button:before {
    background: #d3d3d3 !important;
    opacity: 1;
}


a:hover {
    color: #50c060 !important;
    text-decoration: none;
}


#navigation .rmm.style ul>li:hover>a {
    background: black;
    color: #50c060 !important;
    transition: all ease-in-out 0.3s;
}




#navigation .menu-mobile .booknow:hover {
    color: black !important;
    border-color: #50c060 !important;
    
}

a {
    color: #2A2A2A;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

section#reviews-slider {
    
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url('https://gp-assets-1.growthplug.com/website_files/2021/05/07/yellow.jpg');
    background-size: cover;
    margin: 0 !important;

height:350px;

background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#gallery.padding-bottom {
    border-bottom: 1px solid #2a2a2a;
}

#navigation .navbar.fixed .rmm.style ul li a {
    color: #ffffff !important;
}
#location .location .last .btn:hover, #location .location .last .btn:active, #location .location .last .btn:focus {
    color: #ffffff !important;
    border-color: black !important;
    background: black;
}
#navigation .menu-mobile .booknow {
    border: 1px solid #50c060;
    background: #50c060 !important;
    color: #fff;
}

#home-page-add-new .about {
    box-shadow: inherit;
    background-image: url("https://gp-assets-1.growthplug.com/website_files/2021/05/08/Pngtreewhite_gray_gradient_abstract_background_1207033.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.how-img img {
    width: 40%;
    padding: 20px 0;
}
.how-section1 h4 {
    color: #50C060;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}
#home-page-add-new p {
    color: #414141;
    font-size: 14px;
    line-height: 25px;
}

header#header ul.header-rt li:hover i.fa {
    background: #50c060;
    border: 1px solid black;
    color: black !important;
    transition: all .2s ease-out;
}
header#header ul.header-rt li .fa {
    padding: 10px;
    float: left;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #50c060;
    color: #50c060;
    font-size: 20px;
}
#footer .footer .footer-address .social a {
color:#ffffff !important;
font-size:12px !important;
}

#footer .footer .footer-address .social a:hover {
    transition: all ease-in-out 0.1s;
    box-shadow: 0 0 10px #000;
    padding-left: 3px;
font-size: 14px !important;
    box-shadow: 0 2px 6px rgba(40,54,78,0.29);
    padding-left: 6px;
    border-radius: 6px;
    color: #50c060 !important;
    text-decoration: none;
}

#footer .footer .footer-address .navigate li a{
font-size:12px !important;
    color: #ffffff !important;

}
#footer .footer .footer-address .navigate li a:hover {
    opacity: 1;
font-size: 14px;
    color: #50c060 !important;
    text-decoration: none;
}

#footer > div > div > div > div.col-md-3.col-xs-12.footer-legal > ul li:nth-child(n) a {
    font-size: 12px;
    color: #ffffff !important;
}

#footer > div > div > div > div.col-md-3.col-xs-12.footer-legal > ul li:nth-child(n) a:hover {
    font-size: 14px;
    color: #50c060!important;
}


#navigation .rmm.style ul li:hover {
    background: black !important;
}
#main_slider .slider .hero .booknow:hover {
    background-color: black !important;
    border-color: black;
    box-shadow: 0 6px 24px rgba(0,0,0,0.38);
    color: #ffffff !important;
}

#navigation > div > div > div > div.navbar-collapse.navitems > div.mobile-view > div > div > ul li:nth-child(n) a:hover {
    color: #50c060 !important;
   
}

#lightgallery > div > div a:nth-child(n) {
    color: transparent !important;
}

.bg-blue-light {
    background: #d3d3d3 !important;
}
#navigation ul.header-rt li a.btn {
    border: 1px solid #50c060 !important;

}

#navigation ul.header-rt li .fa {
    color: #50c060 !important;
}


#navigation ul.header-rt li:hover i.fa {
    background: black !important;
    color: #ffffff !important;
    border: 1px solid black;
    border: 1px solid #a01d3;
}
h2.text-center {
    display: none;
}
#gallery .slick-dots li button:before {
    font-size: 0;
    color: #50c060 !important;
    border: 2px solid #50c060 !important;
    border-radius: 50%;
    line-height: 9px;
    width: 10px;
    height: 10px;
    padding: 0;
    background: transparent;
    opacity: 1;
}
#gallery .slick-dots li.slick-active button:before {
    background: #50c060 !important;
    opacity: 1;
}
.lg-sub-html {
    background-color: rgba(0,0,0,0.45);
    bottom: 0;
    color: transparent;
    font-size: 16px;
    left: 0;
    padding: 10px 40px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 1080;
}

button.Schedule__button:hover {

    background-color: #26a038;
}

h2.BANNER_CAPTION.BODY_TEXT::before {
    color: black;
    height: 100vh;
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: xxx-large;
    position: absolute;
    content: "ENVIABLE SMILES" !important;
}
section.success__story {
    background-color: #2a2a2a;
}


#navigation > div > div > div > div.navbar-collapse.navitems > div.mobile-view.rt > div > div > ul li:nth-child(n) a:hover {
    color: #50c060 !important;
}

header#header ul.header-rt li {
    float: left;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}
#main_slider .slider .hero .booknow {
    background-color: #50c060 !important;
    padding: 5px 10px;
    margin-top: 15% !important;
    font-size: 20px;
    text-shadow: none;
    color: #FFFFFF;
    transition: all .3s ease-out;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

@media (min-width: 900px)
#header > div > div {
    max-width: 850px !important;
}



.banner__button {
    background-color: #02a33b !important;
    border-radius: 0% !important;
    padding: 5px 15px !important;
    font-size: large !important;
    color: #ffffff !important;
    font-weight: 500 !important;
}

.banner__button:hover {
      color: black !important;
    
}


#banner > div.banner__div > h1 {
    font-size: xxx-large !important;
}

.banner__heading2 {
    font-weight: 100 !important;
    font-size: medium !important;
    display: flex;
    justify-content: center;
}

#navigation > div > div > div > div.navbar-collapse.navitems > div.mobile-view > div > div > ul > li:nth-child(n) > a {
    color: #ffffff !important;
    background-color: black !important;
}

header#header ul.header-rt {
    width: 67%;
    padding: 10px 0 !important;
    margin: 0 0 !important;
}

#header > div > div > ul li:nth-child(2) {
   
    max-width: 160px !important;


   
}

#navigation > div > div > div > div.navbar-collapse.navitems > div.mobile-view > div > div > ul li:nth-child(n) a {
    font-size: small !important;
    margin: 0 30px !important;
}
#navigation .rmm.style ul {
    background: transparent;
    text-transform: Capitalize;
    display: inline-table;
    text-align: left;
    float: none;
    min-width: 900px;
    max-width: 1000px;
  
    padding: 0 px;
}

a.btn.booknow {
    border-radius: 0px !important;
}

#home-page-add-new > section.about > div > h4 {
    font-size: xx-large !important;
}

#home-page-add-new > section.about > div > h3 {
    font-size: large !important;
}

a:hover, a:focus, button:hover, button:focus {
    outline: none;
    text-decoration: none;
    color: black !important;
}

.about__learn__button {
    padding: 10px 30px;
    min-width: 150px;
    font-size: larger;
    background: #50C060;
    color: #FFFFFF;
    border: none;
    letter-spacing: 1px !important;
    outline: none;
    font-weight: 500 !important;
    font-weight: 100;
    ily: fangsong;
    pointer: ;
    line-height: normal;
}


#home-page-add-new .about {
    box-shadow: inherit;
    background-image: url("https://gp-assets-1.growthplug.com/website_files/2021/05/12/border.jpg") !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home-page-add-new p {
    color: black !important;
    font-size: 18px !important;
    !: 25px;
}
#home-page-add-new > section.about > div > h3 {
    font-size: x-large !important;
}

#appointment-form > div > div:nth-child(3) > div.col-md-12.time > div > ul {
    margin-left: 291px !important;
    margin-top: -35px !important;
}

.container-location-1030 .location-wrap {
    border-radius: 6px;
    /* background: var(--white); */
    background-color: var(--white);
    box-shadow: 0 0px 0px 0 #c7c7c7 !important;
    padding: 40px;
    height: 325px;
    overflow: hidden;
    border: 1px solid transparent;
    margin-bottom: 70px;
}

.location-container {
    background: #2a2a2a !important;
    padding-top: 70px;
}

#location > div.container-location-1030 > div > div:nth-child(2) > div > div > i {
    color: #50C060 !important;
}

.container-location-1030 .location-wrap .location-icon-wrap .fa {
    font-size: 40px;
    color: #50C060 !important;
}

.container-location-1030 .location-wrap .action button {
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 4px;
    background: #50c060 !important;
    padding: 10px 15px;
    color: var(--white);
    letter-spacing: 1.5px;
}

.text-center {
    text-align: center!important;
    margin-bottom: -6px !important;
   
}

.confirm a, button.confirm {
    height: 45px;
    line-height: 45px;
    border: 1px solid #d3d3d3;
    color: #;
    padding: 0 30px;
    display: block;
    border-radius: 0 !important;
    font-weight: 600;
    background: #50c060 !important;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#appointment .checkbox-custom-label span {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    margin: 2px 21px !important;
    font-size: 14px;
    line-height: 2.6;
    text-align: center;
    z-index: 999;
    color: #ffffff !important;
    background-color: #50c060 !important;
    font-weight: 400;
    transition: all .3s ease-in-out;
}


#appointment-form > div > div.col-md-12.margin-top-15.text-center.relative :hover {
    color: black !important;
}


#appointment-form > div > div:nth-child(3) > div.col-md-12.time > div > ul {
    margin-left: 327px !important;
    margin-top: -43px !important;
}

.confirm a, button.confirm {
    height: 45px;
    line-height: 45px;
    border: 1px solid #50c060;
    color: #ffffff !important;
    padding: 0 30px;
    font-size: medium;
    display: block;
    border-radius: 0 !important;
    font-weight: 600;
    background: #50c060 !important;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#footer > div > div > div > div.col-md-5.footer-address > div > div > p:nth-child(4):hover a {
    color: #50c060 !important;
    font-size: 18px;
}

.container-location-1030 .location-wrap .action button {
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 0px !important;
    background: #50c060 !important;
    padding: 10px 15px;
    color: var(--white);
    letter-spacing: 1.5px;
}

#footer > div > div > div > div:nth-child(2) > ul li:nth-child(n) a:hover {
    font-size: 18px !important;
}

#home-page-add-new > section.about > div > h3 {
    text-align: center !important;
    font-size: x-large !important;
    padding: 5% !important;
}
.team {
    background-color: #dbffdb !important;
}
.inner-page-head h1 {
    font-size: 30px;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    background-image: url("https://gp-assets-1.growthplug.com/website_files/2021/05/08/Pngtreewhite_gray_gradient_abstract_background_1207033.jpg");
    line-height: 1.3;
    width: 100%;
}

#contact-form > div > div div:nth-child(n) label {
    color: black !important;
}

#contact .contactform .checkbox span {
    font-size: 12px;
    color: black !important;
    line-height: 19px;
    font-weight: 300;
    text-transform: none;
}

#contact .contactform .btn {
    width: 170px;
    height: 50px;
    font-size: 19px;
    border-radius: 0px !important;
    background: #50c060 !important;
    border-color: #50c060 !important;
    line-height: 1.754321;
}

#navigation .menu .menumain {
    box-shadow: none;
    height: 60px !important;
}

.blog-container {
    background: #50c060 !important;
    padding: 40px 0 60px;
}

.container-blog-content-1030 .category-wrap .category-heading {
    text-transform: uppercase;
    padding: 15px 20px;
    background: #2a2a2a !important;
    color: #50c060  !important;
    margin: 0;
}

#specialties > div > div > div.col-md-3 > div > a:nth-child(n) div p {
  
    color: black !important;
    font-size: smaller !important;

    margin: auto !important;
}

#specialties > div > div > div.col-md-3 > div > a:nth-child(n) div div img {
    border-radius: 10px !important;
}

#reviews-content > section > div > div.row > div > ul > li:nth-child(n) > a {
    color: black !important;
}

#reviews-content .reviews .reviews-middle .review-content div.parag {
    padding: 20px 25px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    position: relative;
    color: #333333;
    height: 105px;
    display: table-cell;
    vertical-align: middle;
    clear: right;
    width: 420px !important;
    z-index: 99;
    background: #FFFFFF;
}

#navigation .rmm.style ul ul li a {
    padding: 12px 30px;
    min-width: 160px;
    background: black !important;
  
}

#navigation > div > div > div > div.navbar-collapse.navitems > div.mobile-view > div > div > ul > li:nth-child(2) > ul > li:nth-child(n) {
    max-width: 200px !important;
    min-width: 160px !important;
}
#navigation .rmm.style ul {
    background: black !important;
    text-transform: Capitalize;
    display: inline-table;
    text-align: left;
    float: none;
    min-width: 200px !important;
    max-width: 1000px;
    padding: 0 px;
}







#reviews-banner .reviews .reviews-top .container .user-img {
    border-radius: 0px;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    margin-top: 10px;
    display: inline-block;
    max-width: 257px;
max-height: 250px;
}

.col-md-10 {
    padding-left: 120px;
}
#reviews-banner .reviews .reviews-top .container .col-md-10 {

    text-align: center;
}

.fonts-loaded body {
    font-family: "poppins","Arial, Helvetica, sans-serif";
}
#home-page-add-new > section.about > div > h3 {
    text-align: center !important;
    font-size: x-large !important;
    padding: 2px !important;
}


#reviews-banner .reviews .reviews-top .container .btn {
    height: 41px;
    width: 140px;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    border-color: #50c060;
    margin-top: 8px;
    margin-left: 0;
    border-radius: 0px;
    background-color: #50c060;
    box-shadow: 0 1.5px 5px 0 rgba(0,0,0,0.2);
    transition: all ease-in-out 0.3s;
}
#reviews-banner .reviews .reviews-top .container .btn:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transform: scale(1) rotateZ(0deg);
    border-color: #50c060;
    background-color: #50c060;
}
#reviews-banner .reviews .reviews-top {
    background-color: #2a2a2a !important;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-size: cover;
}










#navigation > div > div > div > div.navbar-collapse.navitems > div.mobile-view.rt > div > div > ul > li:nth-child(n) a {
   color: black !important;
   background: white !important;
}
@media only screen and (min-width: 700px) {
  #navigation > div > div > div > div.navbar-collapse.navitems > div.mobile-view.rt > div > div > ul > li:nth-child(n) a {
   color: white  !important;
   background: black  !important;
  }
}

#navigation > div > div > div > div.navbar-collapse.navitems > div.mobile-view.rt > div > div > ul  {
 
   background: white !important;
}
@media only screen and (min-width: 700px) {
  #navigation > div > div > div > div.navbar-collapse.navitems > div.mobile-view.rt > div > div > ul  {

   background: black  !important;
  }
}

body {
width:100vw !important;}

.page-banner {
    position: relative;
    width: 100% !important;
    height: 400px;
    /* background: none; */
    background-image: url("https://gp-assets-1.growthplug.com/website_files/2021/05/06/tooth_ulpQa2e.jpg") !important;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: none !important;
}
#page-top > section.page-banner > ul > li:nth-child(3) {
    font-size: xx-large;

}

.page-banner .breadcrumb {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    background: rgba(0,0,0,0.1) !important;
    padding: 10px;
    border-radius: 0;
}

.page-banner .breadcrumb li {

    color: #50c060 !important;
}

#specialties .main-box .recent-box h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    background: #50c060;
    padding: 12px;
    border-radius: 10px;
    font-weight: 400;
    transition: all .6s ease;
}

#specialties .main-box .recent-box h5:hover {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    background: #50c060 !important;
    padding: 12px;
    border-radius: 10px;
    color: black !important;
    font-weight: 400;
    transition: all .6s ease;
}

#reviews-content .reviews .reviews-middle ul.sort li.active a {
    background: #50c060;
}

#reviews-banner .reviews .reviews-top .container .col-md-10 {
    text-align: center;
    padding: 0 10px 0 100px;
}
.review-modal .rating-container .filled-stars {
    color: #50c060;
}

.rating-container .empty-stars {
    color: black;
}

.review-modal .modal-footer .btn {
    height: 41px;
    width: 140px;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    border-color: #50c060;
    border-radius: 5px;
    background-color: #50c060 !important;
    box-shadow: 0 1.5px 5px 0 rgba(0,0,0,0.2);
    transition: all ease-in-out 0.3s;
}

@media  only screen and  (min-width: 786px)
#reviews-banner .reviews .reviews-top .container .col-md-10 {
    text-align: center;
    padding: 0 10px 0 15px !important;
}


#gallery h2 {
    margin-bottom: 5px;
    letter-spacing: 0.9px;
    margin: 30px 0 0 0;
    text-align: center;
    font-weight: 300;
    display: contents;
}

#gallery > div:nth-child(1) > div {
    display: block;
    margin: 0;
    padding-top: 30px;
    text-align: center;
}
#gallery.padding-bottom {
    border-bottom: 1px solid #2a2a2a;
    min-height: 450px !important;
    margin-top: -50px;
}

.video1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 9px -57px;
}

.txt1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    px: ;
    margin: -22px 71px 8px -17px;
    padding-left: 10px;
}


body {
    font-family: system-ui !important;
}

#gallery h2 {
    margin-bottom: 5px;
    letter-spacing: 0.9px;
    margin: 30px 0 0 0;
    text-align: center;
    font-weight: 500;
    display: contents;
}
</style>